<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fernando Link Shortener</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="https://az765212.vo.msecnd.net/cdn/oslo/1.0/js/jquery.min.js"></script>

    <!-- Oslo Visual Framework v1.0.0 -->
    <link rel="stylesheet" href="https://az765212.vo.msecnd.net/cdn/oslo/1.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://az765212.vo.msecnd.net/cdn/oslo/1.0/css/material.min.css"/>
    <link rel="stylesheet" href="https://az765212.vo.msecnd.net/cdn/oslo/1.0/css/material-fullpalette.min.css"/>
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
    
</head>
<body>
    
    <header class="navbar navbar-static-top btn-material-red" id="top" role="banner" style="margin-bottom:0px">
    <div class="container">
        <div class="navbar-header">
 
          <span class="navbar-brand">Link Shortener</span> 
        </div>
      </div>
      </header>
    
    
<div class="container">
    <h1>Link Shortener <small>by Fernando</small></h1>
    
    <p th:text="'An internal error ocurred. Please seek assistance from the system administrator'" />


    <br/><br/><br/><br/>
    <br/><br/><br/><br/>

    

      

    <br/>
    <br/>
    <br/>
    <br/>



</div>


<!-- Add Javascript just before the closing of the <body> tag -->
<script src="https://az765212.vo.msecnd.net/cdn/oslo/1.0/js/jquery.min.js"></script>
<script src="https://az765212.vo.msecnd.net/cdn/oslo/1.0/js/bootstrap.min.js"></script>
<script src="https://az765212.vo.msecnd.net/cdn/oslo/1.0/js/material.min.js"></script>

</body>
</html>